# --- videos ---
*.mp4
*.mov
*.mkv

# --- env ---
.env
.env.*
!.env.example
# python cache + venv
__pycache__/
*.pyc
myenv/
venv/
.venv/
# VS Code "Run Selected Code" scratch file
tempCodeRunnerFile.py

# node
node_modules/
.next/
dist/
build/
